.stToolbarActionButton {
    visibility: hidden;
}

/* .st-b7 {
    background-color: rgb(240, 242, 246);
}

[data-testid="stFileUploaderDropzone"] {
    background-color: rgb(240, 242, 246);
  } */

/* #MainMenu {visibility: hidden;}
footer {visibility: hidden;} */